@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a; 
  --foreground: #ededed;

  --button: rgb(29, 155, 240);
  --text_highlight : rgba(29, 155, 240);
  --border_color: rgba(47, 51, 54);
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
